* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    list-style: none;
}

html,
body {
    background: #0d1117;
}

/* Cronometro */

#logo {
    width: 150px;
}

main {
    margin: 0 auto;
    max-width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.chronometer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: max-content;
    background: #161b22;
    padding: 40px 20px;
    border-radius: 20px;
}

.chronometer-display span {
    color: #fff;
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
}

.chronometer-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px
}

.chronometer-buttons button {
    background: #1f6feb;
    color: #fff;
    font-size: 1.5rem;
    padding: 10px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 700;
    transition: all 500ms ease;
}

.chronometer-buttons button:hover {
    background: #388bfd;
}